# Python files
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Sequence-related
*.fasta
*.biom
!test.biom

# Spinx
_build

# Miscellaneous
.project
.pydevproject
.DS_Store
